{% extends "inicio_interfas.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{% endblock %}
{% block menu %}
    {% include "administrador/menu.html" %}
{% endblock %}
{% block contenido %}

<h1>modulo administrador</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a exercitationem laborum tenetur fugit enim at aliquam vitae! Rerum nisi repellendus libero, vitae eaque velit commodi distinctio maiores itaque cupiditate?</p>

{% endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{% endblock %}