{% extends "inicio_interfas.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{% endblock %}
{% block menu %}
    {% include "administrador/menu.html" %}
{% endblock %}
{% block contenido %}

<h2> lista de casos por Asignar</h2>

<div>
<table>
    <thead>
    </thead>
    <tr>
        <th>Empleado</th>
        <th>Descripciion</th>
        <th>Oficina/ambiente</th>
        <th>fecha</th>
        <th>Estado</th>
        <th>Asignar</th>
        <th></th>
    </tr>
    <tbody>
        {% for caso in lista_de_casos %}
        <tr>
            <td>
                {{caso.caso_solicitud.soli_usuario.first_name}}
                {{caso.caso_solicitud.soli_usuario.last_name}}
            </td>
            <td>{{caso.caso_solicitud.soli_descripcion}}</td>
            <td>{{caso.caso_solicitud.soli_oficina_ambiente.nombre}}</td>
            <td>{{caso.caso_solicitud.fecha_hora_creacion}}</td>
            <td>{{caso.caso_estado}}</td>
            <td>
                <!-- libreria fontawesome para los iconos  -->
                <!-- <i class="fa fa-edit" value="{{caso.id}}" ></i> -->
                <i id="btnAbrirModal" onclick="agregarIdCaso('{{caso.id}}')" data-bs-toggle="modal"data-bs-target="#modalTecnicos" class="fa fa-edit"></i>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<br>
<br>
<br>
<div>

  <!-- The Modal -->
<div class="modal" id="modalTecnicos">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Asignación Técnico Casos</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <form action="/asignar_tecnico_caso/" method="post">
          <!-- Modal body -->
          <div class="modal-body">
                  {% csrf_token %}
                  <div>
                      <label for="asg_tecnico" class="fw-bold">Técnico de Soporte</label>
                      <select name="asg_tecnico" id="" class="form-select">
                          <option value="">Seleccione</option>
                          {% for tecnico in tecnicos %}
                          <option value="{{tecnico.id}}">{{tecnico.first_name}} {{tecnico.last_name}}</option>
                          {%endfor %}
                      </select>
                  </div>
                  <input type="hidden" name="asg_caso" id="asg_caso" value="">
                 
              
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Asignar</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
      </form>
      </div>
  </div>
</div>

</div>

<hr>

{% endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{% endblock %}